<% if !@flights.nil? && @flights.any?  %>



    <% @flights.each do |t| %>
      <ul>
        <li>
          <%= label :flight, :id, "Flight ID: #{t.id}" %>
          <%= radio_button(:flight, 'id', t.trip_datetime.strftime("%H:%M")) %>
      </ul>
    <% end %>





<% else %>
  <p>No flights available</p>
<% end %>